body {
    background-color: bisque;
    font: arial;
}

.greenboldfonts {
    font-family: 'Times New Roman', Times, serif;
    color: green;
    font-weight: bold;
}

.bluebolderfonts {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
    font-weight: bolder;
}

.underline {
    text-decoration: underline;
}