#div {
    width: 80%;
    border: 3px solid black;
    background: yellow;
    color: blue;
    margin: 0px 0px 50px 50px;
    padding: 10px;
}

.underline {
    text-decoration: underline;
}