body {
    background: pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: royalblue;
}

p {
    font-family: 'Times New Roman', Times, serif;
    color: chartreuse;
}